exclude swig/cdtext.swg
include AUTHORS
include COPYING
include ChangeLog
include Makefile
include NEWS
include THANKS
include VERSION.py
include __pkginfo__.py
include data/copying.iso
include data/isofs-m1.bin
include data/isofs-m1.cue
include example/*.py
include example/README
include pycdio.py
include pyiso9660.py
include swig/*.swg
include swig/Makefile
include test/Makefile
include test/cdda.bin
include test/cdda.cue
include test/cdda.toc
include test/cdtext.toc
include test/copying.iso
include test/isofs-m1.bin
include test/isofs-m1.cue
